Progetto linear algebra/matrix/apache2.mtx
Progetto linear algebra/matrix/cfd1.mtx
Progetto linear algebra/matrix/cfd2.mtx
Progetto linear algebra/matrix/ex15.mtx
Progetto linear algebra/matrix/Flan_1565.mtx
Progetto linear algebra/matrix/G3_circuit.mtx
Progetto linear algebra/matrix/parabolic_fem.mtx
Progetto linear algebra/matrix/shallow_water1.mtx
Progetto linear algebra/matrix/StocF-1465.mtx
